<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paint</title>
    
    <script src="javascripts/fabric.js"></script>
    <link rel="stylesheet" href="stylesheets/Paintbox.css">
</head>
<body>
    <div class="main">
        <div>
            <button class="rect">rect</button>
            <button class="circle">circle</button>
            <button class="triangle">triangle</button>
            <button class="line">line</button>
            <button class="free-draw">free-draw</button>
            <button class="clear">clear</button>
            <button class="text">text</button>
            <form>
                <input type="color">
            </form>
            
        </div>
        <div class="canvas-div">
            <canvas id="canvas"></canvas>
        </div>
    </div>
    
    <script src="javascripts/Paintbox.js"></script>
</body>
</html>